services:
  kvm:
    container_name: ubuntu-init
    image: registry.seadee.com.cn:5000/ubuntu22-kvm:latest
    # build: .
    devices:
      - /dev/kvm:/dev/kvm
    volumes:
      - ./ubuntu22.qcow2:/var/lib/libvirt/images/ubuntu22.qcow2
    environment:
      LIBVIRT_DEFAULT_URI: qemu:///system
      SPICE_PORT: 5900
      MAC_ADDRESS: 52:54:00:12:34:56
    ports:
      - "6000:5900"
      - "6001:3389"
      - "6002:5901"
      - "6003:2222"
    tty: true
    networks:
      - virtualink

networks:
  virtualink:
    external: true
